<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Titolo tab del browser -->
  <title>UniChat - Pannello di Controllo</title>

  <!-- Custom fonts for this template-->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Inizio del Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Logo sito e Sidebar -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="home.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">UniChat <sup>1.0</sup></div>
      </a>

      <!-- Divisore -->
      <hr class="sidebar-divider my-0">

      <!-- Menu laterale categorie -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-folder"></i>
          <span>Categorie</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Dipartimenti:</h6>
            <a class="collapse-item" href="disim.html">DISIM</a>
            <a class="collapse-item" href="diiie.html">DIIIE</a>
            <a class="collapse-item" href="diceaa.html">DICEAA</a>
            <a class="collapse-item" href="dsfc.html">DSFC</a>
            <a class="collapse-item" href="mesva.html">MESVA</a>
            <a class="collapse-item" href="discab.html">DISCAB</a>
            <a class="collapse-item" href="dsu.html">DSU</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Altro:</h6>
            <a class="collapse-item" href="mista.html">Mista</a>
          </div>
        </div>
      </li>

      <!-- Divisore -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Bottone per restringere la Sidebar -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- Fine della Sidebar -->

    <!-- Inizio del Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Inizio del Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Bottone per il filtraggio della ricerca -->
          <div class="dropdown mr-auto ml-md-3 my-2 my-md-0 mw-100">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filtra
            </button>
            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" style="">
              <a class="dropdown-item" href="#">DISIM</a>
              <a class="dropdown-item" href="#">DIIIE</a>
              <a class="dropdown-item" href="#">DICEAA</a>
              <a class="dropdown-item" href="#">DSFC</a>
              <a class="dropdown-item" href="#">MESVA</a>
              <a class="dropdown-item" href="#">DISCAB</a>
              <a class="dropdown-item" href="#">DSU</a>
              <a class="dropdown-item" href="#">Mista</a>
            </div>
          </div>


          <!-- Form di ricerca -->
          <form
                  class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Ricerca"
                     aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
            </li>


            <!-- Divisore -->
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Informazioni profilo loggato e relativa tendina -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                <img class="img-profile rounded-circle"
                     src="../img/undraw_profile.svg">
              </a>

              <!-- Tendina -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                   aria-labelledby="userDropdown">
                <a class="dropdown-item" href="profilo.html">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profilo
                </a>

                <a class="dropdown-item" href="pannello-di-controllo.html">
                  <i class="fas fa-tools fa-sm fa-fw mr-2 text-gray-400"></i>
                  Pannello di Controllo
                </a>

                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>

              </div>
            </li>
          </ul>
        </nav>
        <!-- Fine della Topbar -->

        <!-- Inizio del Page Content -->
        <div class="container-fluid">

          <!-- Intestazione della pagina -->
          <h1 class="h3 mb-0 text-gray-800">Pannello di Controllo</h1>
          <p class="p-0 mb-4 text-gray-800">Area riservata al solo utente admin, ogni operazione eseguita sarà irreversibile!</p>


          <!--Inizio contenitore tabella utenti -->
          <div class="card shadow mb-4">

            <!-- Titolo contenitore -->
            <a href="#utenti" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="utenti">
              <h6 class="m-0 font-weight-bold text-primary">Utenti</h6>
            </a>

            <!-- Utenti -->
            <div class="collapse" id="utenti" style="">
              <div class="card-body">

                <!-- Utente -->
                <div>
                  <div class="card border-left-success shadow mb-2">
                    <div class="card-body">
                      <div class="row">
                        <label class="mr-4 m-0">Nome: Laura</label>
                        <label class="mr-4 m-0">Cognome: Verdi</label>
                        <label class="mr-4 m-0">Email: laura.verdi@student.univaq.it</label>
                        <label class="mr-4 m-0">Corso di studio: Medicina</label>
                        <div class="dropdown mr-auto ml-md-3 my-2 my-md-0 mw-100">

                          <!-- Pulsante a tendina selezione categoria moderata -->
                          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuCategoria" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categoria moderata
                          </button>

                          <!-- Tendina -->
                          <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" style="">
                            <a class="dropdown-item" href="#">DISIM</a>
                            <a class="dropdown-item" href="#">DIIIE</a>
                            <a class="dropdown-item" href="#">DICEAA</a>
                            <a class="dropdown-item" href="#">DSFC</a>
                            <a class="dropdown-item" href="#">MESVA</a>
                            <a class="dropdown-item" href="#">DISCAB</a>
                            <a class="dropdown-item" href="#">DSU</a>
                            <a class="dropdown-item" href="#">Mista</a>
                          </div>
                        </div>
                      </div>



                      <!-- Pulsante eliminazione thread -->
                      <div class="m-3" style="position: absolute; top: 0; right: 0;">
                        <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- Fine Utente -->

                <!-- Utente -->
                <div>
                  <div class="card border-left-primary shadow mb-2">
                    <div class="card-body">
                      <div class="row">
                        <label class="mr-4 m-0">Nome: Carlo</label>
                        <label class="mr-4 m-0">Cognome: Rossi</label>
                        <label class="mr-4 m-0">Email: carlo.rossi@student.univaq.it</label>
                        <label class="mr-4 m-0">Corso di studio: Ingegneria Informatica</label>
                        <div class="dropdown mr-auto ml-md-3 my-2 my-md-0 mw-100">

                          <!-- Pulsante a tendina selezione categoria moderata -->
                          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuCategoria1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categoria moderata
                          </button>

                          <!-- Tendina -->
                          <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton" style="">
                            <a class="dropdown-item" href="#">DISIM</a>
                            <a class="dropdown-item" href="#">DIIIE</a>
                            <a class="dropdown-item" href="#">DICEAA</a>
                            <a class="dropdown-item" href="#">DSFC</a>
                            <a class="dropdown-item" href="#">MESVA</a>
                            <a class="dropdown-item" href="#">DISCAB</a>
                            <a class="dropdown-item" href="#">DSU</a>
                            <a class="dropdown-item" href="#">Mista</a>
                          </div>
                        </div>
                      </div>

                      <!-- Pulsante eliminazione utente -->
                      <div class="m-3" style="position: absolute; top: 0; right: 0;">
                        <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- Fine utente -->

              </div>
            </div>
          </div>
          <!-- Fine contenitore tabella utenti -->



          <!-- Inizio contenitore tabella categorie -->
          <div class="card shadow mb-4">

            <!-- Titolo contenitore -->
            <a href="#categorie" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="categorie">
              <h6 class="m-0 font-weight-bold text-primary">Categorie</h6>
            </a>

            <!-- Categorie -->
            <div class="collapse" id="categorie" style="">
              <div class="card-body">

                <!-- Inserimento nome nuova categoria -->
                <input type="text" class="form-control form-control-user" id="nomeCategoria" placeholder="Nome nuova categoria">


                <!-- Pulsante aggiungi categoria -->
                <a href="#" class="btn btn-secondary btn-icon-split mt-2 mb-4">
                  <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                  </span>
                  <span class="text">Aggiungi categoria</span>
                </a>

                <!-- Categoria -->
                <div>
                  <div class="card border-left-secondary shadow mb-2">
                    <div class="card-body">

                      <!-- Icona categoria -->
                      <i class='fas fa-address-card mr-4 m-0'></i>

                      <!-- Contenitore informazioni categoria -->
                      <div>
                        <label class="mr-4 m-0">Categoria: DISIM</label>
                        <label class="mr-4 m-0">Descrizione: Qui si trovano tutti i thread del dipartimento DISIM</label>
                        <label class="mr-4 m-0">Numero thread: 23</label>
                        <label class="mr-4 m-0">Moderatore: -</label>
                      </div>


                      <!-- Pulsante eliminazione categoria -->
                      <div class="m-3" style="position: absolute; top: 0; right: 0;">
                        <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- Fine categoria -->

                <!-- Categoria -->
                <div>
                  <div class="card border-left-secondary shadow mb-2">
                    <div class="card-body">

                      <!-- Icona categoria -->
                      <i class='fas fa-address-card mr-4 m-0'></i>

                      <!-- Contenitore informazioni categoria -->
                      <div>
                        <label class="mr-4 m-0">Categoria: MESVA</label>
                        <label class="mr-4 m-0">Descrizione: Qui si trovano tutti i thread del dipartimento MESVA</label>
                        <label class="mr-4 m-0">Numero thread: 37</label>
                        <label class="mr-4 m-0">Moderatore: Laura Verdi</label>
                      </div>


                      <!-- Pulsante eliminazione categoria -->
                      <div class="m-3" style="position: absolute; top: 0; right: 0;">
                        <a href="#" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        </a>
                      </div>

                    </div>
                  </div>
                </div>
                <!-- Fine categoria -->

              </div>
            </div>
          </div>
          <!-- Fine contenitore tabella categorie -->

        </div>
        <!-- Inizio del Page Content -->

      </div>
      <!-- Fine del Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; UniChat 2021</span>
          </div>
        </div>
      </footer>
      <!-- Fine del Footer -->

    </div>
    <!-- Fine del Content Wrapper -->

  </div>
  <!-- Fine del Page Wrapper -->

  <!-- Bottone Scroll to Top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sei sicuro di voler andare?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Seleziona "Logout" qui sotto se sei pronto a terminare la sessione attuale.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../js/sb-admin-2.min.js"></script>

</body>

</html>